<header class="main-header">
  <nav class="navbar navbar-static-top dark-bar">
    <div class="container">
      <div class="navbar-header">
        <a [routerLink]="['/']" class="navbar-brand" style="margin-top: -15px;"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">  <image id="image0" width="100" height="100" x="0" y="0"
          xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAMAAABHPGVmAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
      AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAY1BMVEUAAADs7OHs7OHs7OHs
      7OHs7OHs7OHs7OHs7OHs7OHs7OHs7OHs7OHs7OHs7OHs7OHs7OHg4NdeXlzJycF3d3JqameOjomn
      p5+xsaqampTV1cw4ODeCgn5FRUO9vbYrKyv///+GSRafAAAAEHRSTlMAIFCA379gMK/vn3DPQBCP
      9haTQgAAAAFiS0dEILNrPYAAAAAHdElNRQfiBRsTDgUoKYvvAAAGuklEQVRo3u1Z2XacOBBFG9qF
      nMXJeCaT///LqUWAoOk17ZycOa6HdptGuqrtVhUMw4d8yC0ixLsjSFW1MUqN9p0QnNZ1FW/Gd1Ai
      1Pry6TPu/+Ur45hnW069vALAp2+4+fe/ZnXiM60mUn37m7f+/r0B/PMKH+l5GHE+OSjzo9mqfiWt
      4rMwrK//8r4/8fPty1sXAPk5GEXX158vpAhhvbH7Ub79eHuSwQyE1ed6KJ9fX+pTInmsl0U/w1j+
      Ckh9QhjHaxh1+pXtlaPPqyCG7naPBLNNbIgLLgGqNJNSkm6HxLzbbqCA57hJHSca4xRQcM4ZaMvC
      nxH+VaTD6O/NzOJqdYW/iwk3jnnPU3nnelwTyh0YcPo5/OW6FxxeqWBIxt6ODR5iJN2MAhh+OXbn
      eIF5uXi7BNQQZWGW7G9G2WAMlg4eFDnYLSDucKm9GcX1GDv83JyNf3NTRMXSo4RbMNQmh6VSpsn5
      1O/2zTfFWK495V0jrhbb3fp4C8/ojbndTSB1a+2r7K+qL2dA9Fl7mY3ffFWXMeCOTX2I1U/RN8OX
      0NAmZgG8TqG3Dahxe84jRcz2QhQUxcAlA1BJlBBUQCdiZoN8tF26rAoocrZmhxbZFhXgXeJxWsjL
      qsQDp+VgXGZ6QZQWb5HJ6phI9MWanE5+5Z2qYcf4vNQwN/k598sYtvaJlwJM1Lo7V1mJvob5u8um
      /5b8nmUK8tx5a+0pKSPh5hE6bS/RLRhbeZiLDGb6oc3chbR3Z21pOR4yRtmiIRX3Yg7KSDxDoCj+
      js5jXBhenLrebphm55LDn0TPuL3MzDmdopw4d3XAPhP5yNep69Q25my+xcNacANHqoNF57yrDumg
      mCsQfrxtK+vQtpo6qVO5AnK0qG3l+kDS9Z2k78avNtWPSh+ut1XZB+QdxvA/QZibRByxCWrJGplJ
      y0wg8IUuxUZ+RQ1Rcf+9pnem9htu5WZ/I843z9hhbqMsJ630XlOMUL8KObH0TLGurvSBTgQ5pWEZ
      Fc/TUcJUxEgGcqg23slVugkuupIQpDURXuT5EQEkHFzIGdVxZlROFK3zWLNowarLHiTLmoRnEMkH
      hT0kqBUwe3FQSFJCj5DnUzgCoXYFVQN2SbpY7/k8CRLS7EHALHbC/WvjIjqoN8JQSTLtYNOIIJnX
      rB2/QRDoASLuYNoWalcfFdgyjpShWxDFDYldY34HEqn3jrTOGSIyBDmqjHC7jtyO1Ebdqh2UqoVa
      kzfPeAySV2PMzqZ1B8+pFPWD1FjV1nYyiM7zDqEDUWdAmHpb9zEegODm+QSk3dpNnTsQ0YO0TkiY
      QxRo3YziSXEFAR+1OXvojrwD6WJHp1Vd4vWTUXaixOPo8hyhsJ2K1HKyswVWdSdnp/k9SO3adSp1
      Zg/SIiohSG2pg7cZPF2ma5zgal5dtz6Bf0rfBZu6fxjWQCBSyZ4NBMIXu0pBIBYZDtTI50EyH6k5
      pu4fuzQQWChXEFQZzRYoTXJziF1A0gZkRI/Krhcy+0eUK4gyzWNAZwa1kOiilWvq4rRqZA+SKR6w
      obfjErHnQKa2IYCQBQb8SE11+Et9cCGQvAMxyKNhUGYJwx0I3QztuBqbLWGJouxAagZkdCkODsR/
      mc61ARkIRAIzhQXEH2kCuyrBSWUBSZIFFEQsXjQFlayinSJWuQepPH0o9ovat5Zw+2RtIHdoWjqB
      zdjMeLgWvh59goCgVoKtNiCJrAMDoaUTQ2zucn55rjTxfj6gNoJABC3ODi4Wi9/xLNrhrTj+EAtz
      pHjOYQxk5erJ82/bhnR6yEXMQ2SpKQR0Z1qf5mefWAHCWn9tm5wjgDSGPB0nxQSU0SYcoA/uJkYi
      7LHra2kIEsHwiw28M9AYIQvQIv2GS0pcNvuQP1mEeifpC/21Oedh6cvWb5lPrj/1f1A27Rc9Jn2+
      3PHAu8n4O1LYvftbXxDz61uciiACF3l9iUEEGHmEKs3k1vLvj2FglxCQzfOSRoZpnqo9ViAvuA4c
      NHI3ik8Zq6OGumUMFtOB95Ym8JeMNdtiLTUhh4fen2WunQLmoB5EzA9NAKRAGkTMBaPmTuRuEFo1
      1gn6Lw8jYWuzXZUCKYkKthhcMg41cfWR2GsgQcMXo1VWFd9jwWXvJ+6I4ujd4CdFTeBtbzT2Ytlc
      2kPb1ZkL2h3NjQUghWRxXshGySofARl0EhEa0aBS2oBERyMq+kQbGJFhWAKfePcQCM0hY8UuJBnu
      bOEPzujLNAGTPrRkMLQoiPT7eQpFjJlSsVBbJVp3JZSkhySFXjZyKlpx5tXAh3zI/0P+AwC0sfHQ
      sFGYAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE4LTA1LTI3VDE5OjE0OjA1LTA3OjAwHzz84AAAACV0
      RVh0ZGF0ZTptb2RpZnkAMjAxOC0wNS0yN1QxOToxNDowNS0wNzowMG5hRFwAAAAZdEVYdFNvZnR3
      YXJlAEFkb2JlIEltYWdlUmVhZHlxyWU8AAAAAElFTkSuQmCC" />
      </svg>
      </a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
          <i class="fa fa-bars"></i>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
        <ul class="nav navbar-nav">
            <li routerLinkActive="active"><a [routerLink]="['/restaurants']" class="bg-cor">Restaurantes</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/about']">Sobre</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->

    </div>
  </nav>
  </header>