<!-- INÍCIO DO CONTEÚDO -->
<section class="content-header">
  <h1>Sobre</h1>
</section>

<section class="content">
    <p class="lead">
      Burguers Café & Bar | Aplicação para pedidos delivery
    </p>
    <p class="lead">
      Burguers Café & Bar license
    </p>
    <p class="lead">Copyright 2017 Burguers Café e Bar </p>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris gravida.</p>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla massa est, convallis vitae pellentesque eget.</p>
    <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam quis sapien sed magna ultricies dictum. Vestibulum in semper arcu, ac.
    </p>
    <p class="lead">
        Sed risus odio, tempor lacinia.
    </p>

  </section>
<!-- FIM DO CONTEÚDO -->

